// Primary Colors
$primary-default: #050927;
$primary-light: #111947;
$primary-dark: #000418;
$primary-gray: #CACACA;
$primary-purple: #1F043E;


// Secondary Colors
$secondary-orange-bright: #FFA008;
$secondary-orange-light: #FFBF48;
$secondary-orange-dark: #CB8100;
$secondary-gray: #CACACA;

// Background Colors
$background-white: #FFFFFF;
$background-light-1: #F6F6F6;
$background-light-2: #E0E0E0;
$background-dark: #666666;

// Text Colors
$text-dark-blue: #050927;
$text-gray-1: #666666;
$text-white: #FFFFFF;
$text-gray-2: #999999;
$text-green: #27AE60;
$text-red: #E53935;
$text-yellow: #FFD600;
$text-blue: #2F80ED;

// Semantic Color Aliases
$success: $text-green;
$error: $text-red;
$warning: $text-yellow;
$info: $text-blue;
